doctype html

html(lang="en")
  head
    title='OHMigod by Will Hilliard'
    link(rel='stylesheet', href='/css/jasmine.css')

    script(src='/js/vendor/jasmine.js')
    script(src='/js/vendor/jasmine-html.js')
    script(src='/js/vendor/angular.min.js')
    script(src='/js/vendor/angular-mocks.js')
    script(src='/js/ohmigod.js')
    script(src='/js/tests.js')

  body
    